/*  */
body {
    background-image: url(backgroundimage.jpg);
    background-size: cover;
}
h2+h3,p{
    color: rgba(0, 255, 242, 0.521);
    text-align: center;
    border: dashed orangered;
    cursor:cell;
}
h2,h3,h4 {
    text-align: center;
    font-size: larger;
}
p{
    color:rgb(104, 234, 252);
    line-height: 20px;
    font-weight: bold;
    font-size: 125%;
}
img {
    float: left;
}
footer{
    clear: both;
    text-align: center;
    color: white;
}
li {
    list-style: none;
    display: inline-block;
}
.webtext {
    border: 4px dashed rgb(111, 205, 92);
}
#div1 {
    background:transparent;
}
ol{
    text-align: center;
    font-size: larger;
    color:rgb(104, 234, 252);
    font-weight: bold;
}
form{
    color:rgb(104, 234, 252);
    font-size: larger;
    text-align: left;
}